{
  "presets": [
    "babel-preset-react",
    ["babel-preset-env", {
      "modules": false,
      "targets": {
        "browsers": "last 2 versions",
        "node": "current",
        "uglify": true
      }
    }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["lodash", { "id": ["lodash"] }],
    "babel-plugin-syntax-dynamic-import",
    "babel-plugin-transform-class-properties",
    ["babel-plugin-transform-runtime"],
    ["babel-plugin-transform-object-rest-spread"]
  ]
}
